.Section1, .Section2{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 20;
    scroll-margin-top: 50;
}

.Section1 {
    background-color: rgb(245, 240, 230);
}
.Section2 {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
    color: white;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(149, 149, 149);
    max-width: 400px;
}
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu li{
    margin: 0;
    color: rgb(255, 255, 255);
}

menu li a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
}

.menu li a:hover {
    background-color: #182b49;
    color:white;
}
.section3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    grid-column: 1;
    grid-row: 3;
  }
  .four {
    grid-column: 1;
    grid-row: 4;
  }